/* Variables */
:root {
  --primary-color: #da7171;
  --secondary-color: #5bbda8;
  --light-color: #ddd;
  --medium-color: #555;
  --dark-color: #333;
  --website-width: 1100px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

/* Global */
a {
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;
  color: var(--dark-color);
}

p, h1, h2, h3, h4 {
  font-weight: 100;
}

/* Utilities */
.container {
  max-width: var(--website-width);
  padding: 0 1rem;
  margin: auto;
}

.lead {
  font-size: 1.5rem;
}

.section-title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.section-text {
  font-size: 1rem;
  color: var(--medium-color);
}

/* -- Padding */
.py-1 { padding: 1rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }

/* -- Backgrounds & Buttons*/
.btn {
  font-size: 1.25rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.btn:hover {
  background: #fff;
  color: var(--secondary-color);
}

.bg-primary, .btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary, .btn-secondary {
  background: var(--secondary-color);
  color: #fff;
}

/* Header */
#main-header .header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#main-header .branding a {
  font-size: 1.75rem;
  font-weight: 100;
  color: var(--medium-color);
}

#main-header #main-nav ul {
  display: flex;
  flex-direction: row;
}

#main-header #main-nav ul li a {
  padding: 1rem;
  font-weight: 600;
  color: var(--medium-color);
}

#main-header #main-nav ul li a:hover {
  color: var(--primary-color);
}

/* HOME PAGE */

/* Showcase */
section#showcase {
  height: 100vh;
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  color: #fff;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#showcase .showcase-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#showcase .showcase-content h1,
#showcase .showcase-content p {
  padding: 0 0.5rem;
  background: rgba(0,0,0,0.6);
}

/* Who */
#who .who-content a {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  color: var(--primary-color);
}

#who .who-content a:hover {
  text-decoration: underline;
}

/* Contact Link */
#contact-link {
  padding: 1rem 0;
}

#contact-link .link-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact-link .link-content .link-content-img {
  height: 50vh;
  flex-basis: 100%;
  flex: 400px 1 1;
  background: #333 url('../img/contact_link.jpg') no-repeat center center/cover;
}

#contact-link .link-content .link-content-text {
  height: 50vh;
  flex-basis: 100%;
  flex: 400px 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-link .link-content .link-content-text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* WORK PAGE */

/* Showcase */
#work-showcase {
  height: 50vh;
  background: #333 url('../img/work_showcase.jpg') no-repeat center center/cover;
  color: #fff;
}

#work-showcase .showcase-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#work-showcase .showcase-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

#work-showcase .showcase-content h1,
#work-showcase .showcase-content p {
  padding: 0 0.5rem;
  background: rgba(0,0,0,0.6);
}

/* Projects */
#projects .projects-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2rem;
}

#projects .projects-content .projects-item {
  position: relative;
  height: 300px;
  flex: 300px 1 1;
  margin: 0.5rem;
  box-shadow: 0 0 0.25rem rgba(0,0,0,0.6);
  z-index: 1;
  transition: all 0.5s ease;
}

/* -- Description displayed over bg */
#projects .projects-item .item-text-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
  z-index: 2;
}

#projects .projects-item .item-text-wrap::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  background: var(--primary-color);
  opacity: 0.9;
  z-index: 1;
}

#projects .projects-item .item-text {
  padding: 0 1rem;
  opacity: 0;
  z-index: 2;
  overflow: hidden;
  transition: opacity 0.8s ease;
}

#projects .projects-item .item-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* -- Reveal description when hovered */
#projects .projects-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1.25rem rgba(0,0,0,0.6);
  z-index: 3;
}

#projects .projects-item:hover .item-text-wrap::after {
  transform: translateX(0);
}

#projects .projects-item:hover .item-text {
  opacity: 1;
}

/* -- Items */
#projects #item-1 {
  background: #333 url('../img/projects/building_1.jpg') no-repeat center center/cover;
}

#projects #item-2 {
  background: #333 url('../img/projects/building_2.jpg') no-repeat center center/cover;
}

#projects #item-3 {
  background: #333 url('../img/projects/building_3.jpg') no-repeat center center/cover;
}

#projects #item-4 {
  background: #333 url('../img/projects/building_4.jpg') no-repeat center center/cover;
}

/* CONTACT PAGE */

/* Contact Showcase */
#contact-showcase .section-title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

/* Contact Form */
#contact .text-fields {
  display: flex;
  flex-direction: column;
}

#contact .text-fields input:focus,
#contact .text-fields textarea {
  outline-color: var(--primary-color);
}

#contact .text-fields input,
#contact .text-fields textarea {
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
}

#contact .text-fields textarea {
  height: 200px;
}

/* Contact Info */
#contact-info .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#contact-info .container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact-info .container div i {
  margin-bottom: 1rem;
}

/* Testimonials */
#testimonials .testimonials-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonials .testimonials-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#testimonials .testimonials-content div img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* Footer */
#main-footer .footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main-footer .footer-content ul {
  display: flex;
}

#main-footer .footer-content ul li {
  margin: 0 0.5rem;
}

#main-footer .footer-content p {
  margin-top: 0.5rem;
}